/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/* header */

header {
    height: 100px;
    background-color: rgb(215, 130, 224);
    margin: 30px 0;
}

/* main */

.first-section {
    height: 400px;
    background-color: rgb(224, 213, 134);
    margin: 30px 0;
}

.second-section {
    height: 500px;
    background-color: rgb(50, 136, 249);
    margin: 30px 0 10px 0;
}

.second-section > div {
    background-color: rgb(177, 206, 228);
}

.header-second-section {
    height: 60px;
    margin-bottom: 30px;
}

.small-column {
    height: 380px;
    width: 20%;
    margin-bottom: 30px;
}

.large-column {
    height: 380px;
    width: calc(60% - 60px);
    margin: 0 30px 30px 30px;
} 

/* footer */

footer {
    height: 50px;
    background-color: rgb(122, 47, 245);
    margin: 10px 0;
}